.header {
  background-color: #0f172a;
  color: #f8fafc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  position: sticky;
  top: 20;
  z-index: 10;
}

.header h1 {
  font-size: 30px;
  font-weight: 600;
  color: #60a5fa;
  
  
}


.header nav a {
  margin-left: 20px;
  padding: 6px 12px;
  border-radius: 6px;
  transition: all 0.2s;
}

.header nav a:hover {
  background-color: #1e293b;
  color: #60a5fa;
}
