.search-bar {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  transition: all 0.2s ease;
}

.search-bar input:focus {
  border-color: #ff6801; /* highlight color */
  box-shadow: 0 0 5px rgba(255, 104, 1, 0.5);
}
